.text-input:error, .date-picker:error {
    -fx-border-insets: -1px;
    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-color: red;
    border-color: red;
    -fx-border-radius: 3px;
    border-radius: 3px;
}

VBox {
    -fx-alignment: top-center;
}

.general {
    -fx-font-family: "Bahnschrift";
    font-family: "Bahnschrift";
}

.start_screen {
    -fx-font-family: "Gill Sans MT";
    font-family: "Gill Sans MT";
}


.side_menu {
    -fx-font-family: "Gill Sans MT";
    font-family: "Gill Sans MT";
    -fx-font-size: 14;
    font-size: 14;
}

.label {
    -fx-font-family: "Century Gothic";
    font-family: "Century Gothic";
}

.tool-bar {
    -fx-font-family: "Berlin Sans FB Demi";
    font-family: "Berlin Sans FB Demi";
    -fx-font-size: 14;
    font-size: 14;
}

.reduced_size {
    -fx-font-size: 12;
    font-size: 12;
}

.left-vbox {
    -fx-alignment: top-left;
}
